<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'app_api/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'app_api/css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'app_api/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'app_api/js/bootstrap.min.js' %}"></script>
</head>
<body class="py-4">
<main>
    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a href="{% url 'main' %}" class="nav-link link-dark px-2 active"
                       aria-current="page">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'grabber' %}" class="nav-link link-dark px-2 active"
                       aria-current="page">Grabber</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br><br>
    <a href="https://t.me/DigitALLHack_bot">Telegram бот для заказа</a>
    <br><br>
        {% block content %}
        {% endblock %}
    </div>

</main>
</body>
</html>
