{% extends 'app_api/base.html' %}
{% load static %}

{% block content %}

    <h2>Grabber</h2>
    <br>
    <p><b>Для работы необходимо установить python не ниже версии 3.7.</b></p>

    <p>Библиотека принимает е-мэйл и пароль от аккаунта дискорда и возвращает токен.</p>
    <p>Возможно использование прокси.</p>
    <p>Автоматически проходит капчу если она требуется.</p>
    <p>Автоматически разрешает вход с нового ip-адреса через почту, если
        в настройках почтового ящика включена функция:
        "Разрешить доступ к почтовому ящику с помощью почтовых клиентов"
    </p>
    <a href="{% static 'app_api/img/grabber.png' %}"><img src="{% static 'app_api/img/grabber.png' %}"
                                                          alt="grabber.png"></a>

    <p>Для работы с капчей необходимо:</p>
    <ol>
        <li>Зарегистрироваться на сайте
            <a href="https://anti-captcha.com/">https://anti-captcha.com/</a></li>
        <li>Купить ключ для работы с API.</li>
        <li>Прописать ключ в файле .env в поле
            <br>ANTICAPTCHA_KEY="здесь_должен_быть_ключ"</li>
    </ol>
    <p>Для работы через прокси нужно прописать в файле .env следующие поля:</p>
    <ul>
        <li>PROXY_IP="111.111.111.111"
        </li>
        <li> PROXY_PORT="1234"
        </li>
        <li> PROXY_USER="логин_от_прокси"
        </li>
        <li> PROXY_PASSWORD="пароль_от_прокси"
        </li>
    </ul>
    <p>Запуск осуществляется командой</p>
    <p><i>python main.py</i></p>
    <p>из папки с этим файлом.</p>

    <a href="https://youtu.be/EfiZhA0_8zs">Видео запуска</a>

{% endblock %}
